.heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &--level-1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}